.artist-card {
    width: 100px;
    height: auto;
    display: block;
    margin-bottom: 50px;
    color : #fff;
    h5{
        color:rgb(212, 201, 40)
    }
    img {
        width: 100%;
    }
    
}